name: Deploy to AWS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            if ! [ -x "$(command -v docker)" ]; then
              sudo apt update && sudo apt install docker.io -y
              sudo systemctl start docker
              sudo systemctl enable docker
            fi

            mkdir -p ~/bot && cd ~/bot
            
            if [ ! -d ".git" ]; then
              git clone https://github.com/Alisher20010120/bot.git .
            else
              git reset --hard
              git pull origin main
            fi

            sudo docker build -t bot-app .
            
            sudo docker stop bot-container || true
            sudo docker rm bot-container || true
            
            sudo docker run -d --name bot-container --restart always --network host bot-app
